.registration-main {
  width: 100%;
  height: calc(100vh - 15vh - 7vh);
  display: flex;
  justify-content: center;
}

.box {
  width: 50%;
  text-align: center;
  background-color: lightskyblue;
}

.box-inner {
  padding: 50px;
}

.field {
  padding-bottom: 50px;
}

