.main {
  background-color: whitesmoke;
  width: 100vw;
}

.log-contents {
  text-align: center;
}

.title {
  font-size: 40px;
}

.log-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-place {
  font-size: 20px;
  color: black;
}